{% extends '_base.html' %}


{% block page_title %}
    About
{% endblock page_title %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-9">

                <div class="card shadow my-3 p-5">
                    <h1>About we</h1>
                    <p class="small text-muted mt-2">by:lenis </p>
                    <p class="mt-2">
                        I'm fardin
                        We love python and django. So we created a blog site to share our thoughts!
                        Nick Richardson described the translation “like extreme Mallarmé,
                        or a Burroughsian cut-up, or a paragraph of Finnegans Wake.
                        Bits of it have surprising power:
                        the desperate insistence on loving and pursuing sorrow,
                        for instance, that is cheated out of its justification
                        – an incomplete object that has been either
                        fished for, or wished for.”
                    </p>

                </div>
{% endblock content %}